{% if classmap is not none %}

/**
 * Predict readable class name
 * @return string
 */
public function predictLabel(float *x) : string {
    return $this->idxToLabel($this->predict(x));
}

/**
 * Convert class idx to readable name
 * @return string
 */
public function idxToLabel(uint8_t classIdx) : string {
    switch (classIdx) {
        {% for idx, name in classmap.items() %}
            case {{ idx }}:
                return "{{ name }}";
        {% endfor %}
        default:
            return "Houston we have a problem";
    }
}

{% endif %}