// return argmax of votes
$classIdx = 0;
$maxVotes = $votes[0];

for ($i = 1; $i < {{ num_classes }}; $i++) {
    if ($votes[$i] > $maxVotes) {
        $classIdx = $i;
        $maxVotes = $votes[$i];
    }
}

return $classIdx;