{% extends '../BaseClassifier.jinja' %}

{% block predict %}
    float votes[{{ num_classes }}] = { 0 };

    {% for k, tree in enumerate(trees) %}
        {% with k = k, i = 0, left = tree['left'], right = tree['right'], features = tree['features'], thresholds = tree['thresholds'] %}
            // tree #{{ k + 1 }}
            {% include './XGBClassifier/tree.jinja' %}
        {% endwith %}
    {% endfor %}

    {% include '../partials/vote.jinja' %}
{% endblock %}