<?php

namespace EverywhereML\Classification\{{ namespace }};


/**
 * Classifier ported from EverywhereML
 */
class {{ classname }} {
    /**
     * Predict class from features
     * @param $x array
     * @return int
     */
    public function predict(array $x) : int {
        {% block predict %}{% endblock %}
    }

    {% include './_partials/classmap.jinja' %}

    {% block protected %}{% endblock %}
}