{% extends '../BaseTransformer.es6.jinja' %}

{% block before_class %}

    /****************************************
     *********** START OF STEPS *************
     ****************************************/
    {% for i, (name, step) in enumerate(steps) %}
        {{ step.port(classname=name, language=language) }}
    {% endfor %}
    /****************************************
     ************ END OF STEPS **************
     ****************************************/

{% endblock %}

{% block constructor %}

    this.steps = [
        {% for i, (name, step) in enumerate(steps) %}
            {% if i > 0 %},{% endif %} new {{ name }}()
        {% endfor %}
    ];

{% endblock %}

{% block transform %}

    return $this.steps.reduce((X, step) => (X === false) ? false : step.transform(X), source);

{% endblock %}