{% extends '../../BaseClassifier.jinja' %}

{% block predict %}
    $votes = {{ np.zeros(num_classes) | to_array }};

    {% for i, w in enumerate(weights) %}
        $votes[{{ i }}] = $this->dot($x, {{ w | to_array }});
    {% endfor %}

    {% include '../../_partials/vote.jinja' %}
{% endblock %}

{% block protected %}
    {% include '../../_partials/dot.jinja' %}
{% endblock %}