{% if classmap is not none %}

/**
 * Predict readable class name
 */
const char* predictLabel(float *x) {
    return idxToLabel(predict(x));
}

/**
 * Convert class idx to readable name
 */
const char* idxToLabel(uint8_t classIdx) {
    switch (classIdx) {
        {% for idx, name in classmap.items() %}
            case {{ idx }}:
                return "{{ name }}";
        {% endfor %}
        default:
            return "Houston we have a problem";
    }
}

{% endif %}