#ifndef {{ uuid }}
#define {{ uuid }}
#include <cstdarg>

namespace EverywhereML {
    namespace Classification {
        class {{ classname }} {
            public:

                /**
                 * Predict class from features
                 */
                {{ dtype | default("int", true) }} predict(float *x) {
                    {% block predict %}{% endblock %}
                }

                {% include './partials/class_map.jinja' %}

            protected:

                {% block protected %}{% endblock %}
        };
    }
}

#endif