function {{ classname }}() {
    {% block constructor %}{% endblock %}

    /**
     * Predict class index
     *
     * @return int
     */
    this.predict = function(x) {
        let $this = this;

        {% block predict %}{% endblock %}
    }

    {% include './_partials/classmap.jinja' %}

    {% block protected %}{% endblock %}

};