{% extends './BaseTransformer.jinja' %}

{% block attributes %}
    /**
     * @array
     */
    protected $lambdas;
{% endblock %}

{% block constructor %}
    $this->lambdas = {{ lambdas | to_array }};
{% endblock %}

{% block transform %}

    return $this->map(function(float $x, int $i, float $lambda) {
        return $lambda === 0 ? log($x) : (pow($x, $lambda) - 1) / $lambda;
    }, $source, $this->lambdas);

{% endblock %}
