{% extends '../BaseTransformer.jinja' %}

{% block constructor %}
    this.counter = 0;
{% endblock %}

{% block transform %}
    let passes = (this.counter == 0);

    if ((++this.counter) == {{ once_every }}) {
        this.counter = 0;
    }

    if (!passes)
        return false;

    return source;

{% endblock %}