{% if left[i] != right[i] %}
    if (x[{{ features[i] }}] <= {{ thresholds[i] }}) {
        {% with i = left[i] %}
            {% include './_tree.jinja' %}
        {% endwith %}
    }
    else {
        {% with i = right[i] %}
            {% include './_tree.jinja' %}
        {% endwith %}
    }
{% else %}
    return {{ classes[i].argmax() }};
{% endif %}