{% extends '../../BaseClassifier.jinja' %}

{% block predict %}
    float votes[{{ num_classes }}] = {{ prior | to_array }};

    {% for class_idx in range(num_classes) %}
        {
            uint16_t k = 0;

            {% for start, end in chunk_indices(theta[class_idx] | length, chunk_size) %}
                // chunk from {{ start }} to {{ end }}
                votes[{{ class_idx }}] -= 0.5 * sum(x + k, {{ end - start }}, {% for i, (ti, si) in enumerate(zip(theta[class_idx][start:end], sigma_inv[class_idx][start:end])) %}{% if i > 0 %},{% endif %} {{ ti | round(9) }}f, {{ si | round(9) }}f{% endfor %});
                k += {{ chunk_size }};
            {% endfor %}
        }
    {% endfor %}

    {% include '../../partials/vote.jinja' %}
{% endblock %}

{% block protected %}

     /**
     * Sum2
     */
     float sum(float *x, uint16_t count, ...) {
        va_list w;
        va_start(w, count);
        float sum = 0.0f;

        for (uint16_t i = 0; i < count; i++) {
            sum += pow(x[i] - va_arg(w, double), 2) * va_arg(w, double);
        }

        return sum;
     }

{% endblock %}