{% block preamble %}{% endblock %}

namespace Eloquent {
    namespace ML {
        namespace Data {
            namespace Preprocessing {
                namespace Pipeline {
                    namespace Ported {
                        namespace {{ ns }} {
                            {% block body %}{% endblock %}
                        }
                    }
                }
            }
        }
    }
}