{% if not embedded %}<?php{% endif %}

{% block before_class %}{% endblock %}


/**
 * Source class: {{ source_class }}
 */
class {{ classname }} {
    {% block attributes %}{% endblock %}

    /**
     * Constructor
     */
    public function __construct() {
        {% block constructor %}{% endblock %}
    }

    /**
     * input_dim  = {{ input_dim }}
     * output_dim = {{ output_dim }}
     * @return array|false
     */
    public function transform(array $source) {
        {% block transform %}{% endblock %}
    }

    /**
     * input_dim  = {{ input_dim }}
     * output_dim = {{ output_dim }}
     * @return array|false
     */
    public function transformAll(array $X) {
        return array_map([$this, 'transform'], $X);
    }

    /**
     * Map values + indices
     */
    protected function map(callable $callable, array $source, ...$others) : array {
        return array_map($callable, $source, range(0, count($source) - 1), ...$others);
    }

    {% block protected %}{% endblock %}
};