{% extends './BaseTransformer.jinja' %}

{% block attributes %}
    /**
     * @array min values
     */
    protected $m;

    /**
     * @array inverse of ranges
     */
    protected $invRange;
{% endblock %}


{% block constructor %}
    $this->m = {{ min | to_array }};
    // instead of dividing by range, multiply by 1/range, which is faster
    $this->invRange = {{ (1 / ranges) | to_array }};
{% endblock %}


{% block transform %}
    return $this->map(function(float $x, int $i) {
        return ($x - $this->m[$i % {{ num_features }}]) * $this->invRange[$i % {{ num_features }}] + {{ features_range[0] }};
    }, $source);
{% endblock %}