{% extends './BaseTransformer.jinja' %}

{% block transform %}
    {% if norm == 'l1' %}
        $norm = array_reduce($source, function($norm, $x) {
            return $norm + abs($x);
        }, 0);
    {% elif norm == 'l2' %}
        $norm = array_reduce($source, function($norm, $x) {
            return $norm + pow($x, 2);
        }, 0);

        $norm = sqrt($norm);
    {% elif norm == 'inf' %}
        $norm = max(array_map('abs', $source));
    {% else %}
        ERROR: unknown norm {{ norm }}
    {% endif %}

    return $this->map(function(float $x) use ($norm) {
        return $x / $norm;
    }, $source);
{% endblock %}