{% extends './BaseTransformer.jinja' %}

{% block transform %}
    $polynomial = [];

    for ($i = 0; $i < {{ input_dim }}; $i++) {
        for ($j = $i + {{ offset }}; $j < {{ input_dim }}; $j++) {
            array_push($polynomial, $source[$i] * $source[$j]);
        }
    }

    return array_merge($source, $polynomial);

{% endblock %}