{% extends './BaseTransformer.jinja' %}

{% block constructor %}
    this.m = {{ min | to_array }};
    // instead of dividing by range, multiply by 1/range, which is faster
    this.invRange = {{ (1 / ranges) | to_array }};
{% endblock %}

{% block transform %}
    return source.map(function(x, i) {
        return (x - $this.m[i % {{ num_features }}]) * $this.invRange[i % {{ num_features }}] + {{ features_range[0] }};
    });
{% endblock %}