#ifndef {{ UUID }}
#define {{ UUID }}

/**
 {{ str(this) | to_c_comment }}
 */
class {{ class_name or this.class_name }} {
    public:

        /**
         * Predict class from features
         */
        {{ dtype | default("int", true) }} predict(float *x) {
            {{ dtype | default("int", true) }} predictedValue = 0;
            size_t startedAt = micros();

            {% block predict %}{% endblock %}

            latency = micros() - startedAt;

            return (lastPrediction = predictedValue);
        }

        /**
         * Get time spent for inference, in microseconds
         */
        size_t latencyInMicros() {
            return latency;
        }

        {% include './class_map' %}

    protected:
        size_t latency = 0;
        {{ dtype | default("int", true) }} lastPrediction = 0;

        {% block protected %}{% endblock %}
};


{% if instance_name %}
static {{ class_name or this.class_name }} {{ instance_name }};
{% endif %}

#endif