#include <stdlib.h>
#include <stdio.h>

{{ clf }}


int main() {
    MCU::ML::Classification::{{ package_name }}::FromPython::Classifier clf;
    float X[{{ X | shape }}] = {{ X | to_array }};
    int y[{{ y | shape }}] = {{ y | to_array }};

    for (int i = 0; i < {{ X | length }}; i++) {
        int y_pred = clf.predict(X[i]);

        if (y_pred != y[i]) {
            printf("ERROR[%d]: expected %d, got %d\n", i, y[i], y_pred);
        }
    }

    return 0;
}