{% extends '../BaseTransformer.jinja' %}

{% block attributes %}
    /**
     * @array
     */
    protected $idx;
{% endblock %}


{% block constructor %}
    $this->idx = {{ idx | to_array(precision=0) }};
{% endblock %}


{% block transform %}
    return array_map(function(int $idx) use ($source) {
        return $source[$idx];
    }, $this->idx);

{% endblock %}