{% extends './BaseTransformer.jinja' %}

{% block transform %}
    float norm = 0;
    float invNorm = 0;

    for (uint16_t i = 0; i < {{ input_dim }}; i++) {
        {% if norm == 'l1' %}
            norm += abs(source[i]);
        {% elif norm == 'l2' %}
            norm += pow(source[i], 2);
        {% elif norm == 'inf' %}
            if (abs(source[i]) > abs(norm)) {
                norm = abs(source[i]);
            }
        {% else %}
            ERROR: unknown norm {{ norm }}
        {% endif %}
    }

    {% if norm == 'l2' %}
        norm = sqrt(norm);
    {% endif %}

    invNorm = (norm != 0) ? 1 / norm : 0;

    for (uint16_t i = 0; i < {{ input_dim }}; i++) {
        source[i] *= invNorm;
    }

{% endblock %}