{% extends './BaseTransformer.jinja' %}

{% block transform %}
    int polynomialFeaturesStartIndex = {{ input_dim }};

    for (int i = 0; i < {{ input_dim }}; i++) {
        for (int j = i + {{ offset }}; j < {{ input_dim }}; j++) {
            source[polynomialFeaturesStartIndex++] = source[i] * source[j];
        }
    }

{% endblock %}