{% extends './BaseTransformer.jinja' %}

{% block init %}
    : counter(0)

{% endblock %}

{% block transform %}
    bool passes = (counter == 0);

    if ((++counter) == {{ once_every }}) {
        counter = 0;
    }

    if (!passes)
        return false;

{% endblock %}

{% block protected %}
    uint16_t counter;

{% endblock %}