{% extends './BaseTransformer.jinja' %}

{% block transform %}
    let diffs = [];

    for (let i = 0; i < {{ input_dim - 1 }}; i++) {
        for (let j = i + 1; j < {{ input_dim }}; j++) {
            diffs.push(source[i] - source[j]);
        }
    }

    return source.concat(diffs);

{% endblock %}