{% extends './BaseTransformer.jinja' %}

{% block constructor %}
    this.m = {{ min | to_array }};
    this.invRange = {{ inv_range | to_array }};
{% endblock %}

{% block transform %}
    {% if num_features == 0 %}
        return source.map(function(x) {
            return (x - {{ min }}) * {{ inv_range }};
        });
    {% else %}
        return source.map(function(x, i) {
            return (x - $this.m[i % {{ num_features }}]) * $this.invRange[i % {{ num_features }}];
        });
    {% endif %}
{% endblock %}